*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
/*    min-height: 100vh;*/
}

html, body {
    font-size: 16px;
}

/** Те, що потрібно для Full Page Scroll */
#fullpage {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

#fullpage > * {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}