.background {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
/*    min-height: 100vh;*/
    height: calc(var(--vh, 1vh) * 100);
}

#s3 {
    position: relative;
}

.text h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .03em;
    font-size: 5.09vw;
    line-height: 1;
    color: #055;
    text-align: right;
    padding-top: 100px;
    padding-right: 350px;
}

.text h1 span {
    /*    font-size: 7.09rem;*/
    color: #FF7A3A;
    padding-right: 10px;
    vertical-align: top;
    vertical-align: top;
    line-height: .8;
    font-size: 2.75em;
}

.text h2 {
    font-family: 'Montserrat', sans-serif;
    max-width: 350px;
    font-weight: 200;
    font-size: 1.1vw;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #fff;
    margin-left: 60vw;
    padding-top: 150px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    width: 32px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 35px;
}

.arrow a,
.arrow img {
    display: block;
    width: 100%;
}

@media screen and (max-width:768px) and (orientation:portrait) {
    .text h1 {
        padding-left: 250px;
        max-width: 350px;
        font-size: 9vw;
    }

    .text h1 span {
        padding-right: 10px;
    }

    .text h2 {
        max-width: 350px;
        font-size: 2.70vw;
        margin-left: 34vw;
        padding-top: 250px;
        font-weight: 200;
    }
}

@media screen and (max-width:1024px) and (orientation:landscape) {
  
    .text h2 {
        font-size: 1.7vw;
    }
}
    
@media screen and (max-width:740px) and (orientation:portrait) {
    .text h1 {
        font-size: 11vw;
        margin-bottom: 0.3em;
        padding-top: 50px;
        padding-right: 55px;
        padding-left: 75px;
    }

    .text h1 span {
        padding-right: 10px;
    }

    .text h2 {
        max-width: 200px;
        font-size: 3.9vw;
        line-height: 1.35;
        margin-left: 30vw;
        padding-top: 180px;
    }
}

@media screen and (max-width:740px) and (orientation:landscape) {

    .text h1 {
        padding-top: 30px;
    }
    
    .text h2 {
         max-width: 250px;
        margin-left: 10vw;
        padding-top: 20px;
    }
}
